body {
    font-family: sans-serif;
    font-size: 14px;
}

.navbar-inverse {
    background-color: purple;
}

.navbar>.container-fluid .navbar-brand {
    margin-left: 25px;
}

.navbar-header {
    padding-left: 70%;
}


/* Header CSS */



/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */

